<library path="src">
  <class name="Visualizer" type="consai_visualizer.visualizer.Visualizer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying RoboCup SSL field detection and geometry.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>CON-SAI Visualizer</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A Python GUI plugin for displaying RoboCup SSL field detection and geometry.</statustip>
    </qtgui>
  </class>
</library>
